<div class="container">
  <div class="row">
    <div class="inner text-center">
      <h1 class="logo-name">Cookle</h1>
      <h2>Become your own chef!</h2>
      <p>Over 100 ideas and recipes!</p>
    </div>
  </div>
</div>
